<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit lanka</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>
	<h1>Muuta langan tietoja:</h1>
	<div class="container">
		<form th:object="${lanka}" th:action="@{/save}" action="#" method="post">
			
			<input type="hidden" th:field="*{id}" class="form-control"/>
			
			<div class="form-group">
				<label for="nimi">Nimi</label>
				<input class="form-control" type="text" th:field="*{nimi}" />
			</div>
			
			<div class="form-group">
				<label for="valmistaja">Valmistaja</label>
				<input class="form-control" type="text" th:field="*{valmistaja}" />
			</div>
			
			<div class="form-group">
				<label for="materiaalilista">Materiaali</label>
			 		<select id="materiaalilista" th:field="*{materiaali}" class="form-control">
       			<option th:each="materiaali: ${materiaalit}" th:value="${materiaali.id}" th:text="${materiaali.mNimi}"></option>
    			</select>
			</div>	
						
			<div class="form-group">
				<label for="paino">Paino</label>
				<input class="form-control" type="text" th:field="*{paino}" />
			</div>
			
			<div class="form-group">
				<label for="vari">Väri</label>
				<input class="form-control" type="text" th:field="*{vari}" />
			</div>
			
			<div class="form-group">
				<label for="maara">Määrä</label>
				<input class="form-control" type="text" th:field="*{maara}" />
			</div>
			
			<input type="submit" value="Tallenna"></input>
		</form>
	</div>
	<div class="container">
	<a href="/" ><button>Palaa lankalistaan tallentamatta</button></a>
	</div>
</body>
</html>