<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Lankalista</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Langat</h1>
	<table class="table">
		<tr>
			<th>Nimi</th>
			<th>Valmistaja</th>
			<th>Paino</th>
			<th>Väri</th>
			<th>Määrä</th>
		</tr>

		<tr th:each="lanka : ${langat}">
			<td th:text="${lanka.nimi}">nimi</td>
			<td th:text="${lanka.valmistaja}">valmistaja</td>
			<td th:text="${lanka.paino} + g">paino</td>
			<td th:text="${lanka.vari}">väri</td>
			<td th:text="${lanka.maara} + kpl">määrä</td>
			<td><a class="btn btn-success" th:href="@{/edit/{id}(id=${lanka.id})}">Edit</a></td>
			<td><a th:href="@{/delete/{id}(id=${lanka.id})}" class="btn btn-xs btn-danger">Delete</a></td>
		</tr>
	</table>
	<a href="/add" class="btn btn-success">Lisää lanka</a>
</body>
</html>