<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lankalomake</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/styles.css" th:href="@{css/styles.css}" />
</head>
<body>
	<h1>Lisää langan tiedot:</h1>
	<div class="container">
		<form method="post" action="#" th:action="@{/save}" th:object= ${lanka} >
				
			<label for="nimi">Nimi</label>
			<input type="text" id="nimi" th:field="*{nimi}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
		  	<label for="valmistaja">Valmistaja</label>
			<input type="text" id="valmistaja" th:field="*{valmistaja}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="materiaalilista">Materiaali</label>
			 	<select id="materiaalilista" th:field="*{materiaali}" class="form-control">
       				<option th:each="materiaali: ${materiaalit}" th:value="${materiaali.id}" th:text="${materiaali.mNimi}"></option>
    			</select>
    		<div style="clear: both; display: block; height: 10px;"></div>
    		
		  	<label for="paino">Paino</label>
			<input type="text" id="paino" th:field="*{paino}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="vari">Väri</label>
			<input type="text" id="vari" th:field="*{vari}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="maara">Määrä</label>
			<input type="text" id="maara" th:field="*{maara}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input type="submit" value="Save" /> 
		</form>
    </div>
</body>
</html>