<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Lankalista</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
		  $("#myInput").on("keyup", function() {
		    var value = $(this).val().toLowerCase();
		    $("#myTable tr").filter(function() {
		      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		    });
		  });
		});
	</script>
	<link type="text/css" rel="stylesheet" href="css/styles.css" th:href="@{css/styles.css}" />
</head>
<body>
	<h2>Materiaalilista</h2>
	<div class="container">
		<input id="myInput" type="text" placeholder="Etsi">
	</div>
	
	<table class="center">
		<tr>
			<th>Nimi</th>

		</tr>
		<tbody id="myTable">
		<tr th:each="materiaali : ${materiaalit}">
			<td th:text="${materiaali.mNimi}">nimi</td>
		</tr>
		</tbody>
	</table>
	<div class="container">
	<a href="/addmateriaali" ><button>Lisää materiaali</button></a>
	</div>
	 <div class="container">
	<a href="/" ><button>Palaa lankalistaan</button></a>
	</div>
</body>
</html>