body {
  background-color: #82c6c1;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}



h2 {
  color: black;
  text-align: center;
  font-size: 30px;
}

table {
  border-collapse: collapse;
  background-color: lightgrey;
  }

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: grey;
  
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}

button {
	background-color: #bce9de;
	border-radius: 12px;
	padding: 5px 10px;
	font-weight: bold;
}

.container{  
	text-align: center;  
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  padding: 18px;
  text-align: center;
  background: black;
  color: white;
  font-size: 18px;
  border-radius: 12px;
}



  
